
@css = {
	#mapcanvas img {
  		max-width: none;
	}
	/* css for timepicker */
	.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
	.ui-timepicker-div dl { text-align: left; }
	.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
	.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
	.ui-timepicker-div td { font-size: 90%; }
	.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
}

@js = {
	function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
            
      }
	$(document).ready(
		function(){
			//initialize();
			$(window).resize(function () {
  			var h = $(window).height(),
        	offsetTop = 60; // Calculate the top offset
    		$('#map_canvas').css('height', (h - offsetTop));
			}).resize();
		}
	)
	
	$('#recordtime').datetimepicker();

}


@content = {
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span9">
				<br/>
				<br/>
				<div id="map_canvas" ></div>
				
			</div>
			
			<div class="span3">
				<br/>
				<br/>
				<ul class="nav nav-tabs">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">创建
							<b class="caret"></b>
						</a>
						<ul class = "dropdown-menu">
							<li><a href="#new_car" data-toggle="tab">创建新对象</a></li>
							<li><a href="#new_record" data-toggle="tab">创建新记录</a></li>
						</ul>
					</li>
					<li><a href="#search" data-toggle="tab">查询</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="new_car">@newship()</div>
					<div class="tab-pane" id="new_record">@newrecord()</div>
					<div class="tab-pane" id="search">search</div>
				
				</div>
			
			</div>
		</div>
	</div>    

}
@main("index",css,js)(content)
