@(targetL:List[Target])

@import play.mvc.Controller.session 


@css = {
	#mapcanvas img {
  		max-width: none;
	}
}

@js = {

      
      
      function init(){
      	$("a.targetelement").click(function(e){
      		$.getJSON(e.target.href,function(data){
      			var json = eval(data);
      			clearOverlays();
      			deleteOverlays();
      			var tempLocation;
      			var locationArray=[];
      			var startLocation = null;
      			$.each(json.points,function(key,obj){
      				if(!startLocation){
      					startLocation =  getlocationFromJson(obj);
      				}
      				var lastLoc = locationArray.pop();
      				if(lastLoc){
      					addMarker(obj,json.target.id,json.target.targetName,lastLoc,startLocation);
      					locationArray.push(lastLoc);
      				}else{
      					addMarker(obj,json.target.id,json.target.targetName,null,startLocation);
      				}
      				tempLocation = getlocationFromJson(obj);
      				locationArray.push(tempLocation);
      			});
      			setLastMarkerToShip();
      			setCenter(tempLocation);
      			addPoly(locationArray);
      			showOverlays();
      			
      			
      		});
      		e.preventDefault();
      	});
      	
      }
      
      function getTargetPoint(){
      
      }
      
	$(document).ready(function(){
		initGoogleMap();
		$(window).resize(function() {
			var h = $(window).height(), offsetTop = 0; // Calculate the top offset
			$('#map_canvas').css('height', (h - offsetTop));
		}).resize();
		init();
	})
	
	

}


@content = {
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span10">
				<div id="map_canvas" ></div>
				
			</div>
			
			<div class="span2">
				<div class="row-fluid">
					<div class="span10">
						@session("userName")
					</div>
					<div class="span2">
						<a href="/user/logout">退出</a>
					</div>
				</div>	
				<br/>
				<div class="row-fluid">
					@targetList(targetL)
				</div>
						
			</div>
		</div>
	</div>    

}
@main("index",css,js)(content)
