<div>
	<form class="well">
		<legend>创建一个新记录</legend>
		<label>对象标示</label> <input type="text" class="inline" />
		<p class="help-block">输入对象标示</p>
		<label>时间</label> <input id="recordtime" type="text" />
		<p class="help-block">输入时间格式为:yyyy-MM-dd hh:mm</p>
		<label>经纬度</label>经度 <input type="text" class="input-small" />纬度<input
			type="text" class="input-small" /> <label>备注</label>
		<textarea class="input-medium" rows="3"></textarea>
		<br />
		<button type="submit" class="btn btn-primary">创建</button>
		<button class="btn">清除</button>
	</form>
</div>