<div>
	<form action="" class="well">
		<legend>创建一个新的监视对象</legend>
		<label class="control-label">对象名称</label> <input type="text"
			class="input-medium" />
		<p class="help-block">输入对象名称</p>
		<label>对象标示</label> <input type="text" class="input-medium" />
		<p class="help-block">输入对象标示</p>
		<label>备注</label>
		<textarea class="input-medium" rows="3"></textarea>
		<div>
			<button type="submit" class="btn btn-primary">创建</button>
			<button class="btn">清除</button>
		</div>


	</form>
</div>