@(message: String="") 
@content = {
<div class="container-fluid">
	<div class="row-fluid">
		<br />
		<form action="/target/newtarget" method="post" class="well">
			<legend>创建一个新的监视对象</legend>
			@if(!"".equals(message)){
			<div class="alert alert-error">@message</div>
			}
			<div class="form-inline">
				<label class="control-label">路径名称:</label> <input
					name="target.targetName" type="text" class="input-small" /> <label>产品标示:</label>
				<input name="target.targetTag" type="text" class="input-small" />
			</div>
			<br />
			<div class="form-inline">
				<label>备注:</label>
				<textarea name="target.comments" class="input-medium" rows="3"></textarea>
			</div>
			<br />
			<div class="form-inline">
				<label>时间:</label> <input name="pointRecordTime" id="recordtime"
					type="text" />
				<p class="help-block">输入时间格式为:yyyy-MM-dd hh:mm</p>
			</div>
			<br />
			<div class="form-inline">
				<label>经度:</label><input name="longitude" type="text"
					class="input-small" /> <label>纬度:</label><input name="latitude"
					type="text" class="input-small" />
			</div>
			<br />
			<div class="form-inline">
				<label>油耗:</label>
				<div class="input-append">
					<input class="input-small" name="gasCost" type="text" /><span
						class="add-on">升</span>
				</div>
			</div>


			<br />
			<div class="form-inline">
				<label>负责人:</label><input name="mananger" type="text"
					class="input-small" /> <label>产品:</label><input name="product"
					type="text" class="input-small" />
			</div>
			<br />
			<div class="form-inline">
				<label>相关文件:</label><input name="scanDocumentUrl" type="text" />
			</div>
			<br />
			<div class="form-inline">
				<label>信息:</label>
				<textarea name="comments" class="input-medium" rows="3"></textarea>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">创建</button>
			</div>
		</form>
	</div>
</div>

} @main("newtarget")(content)
